@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Geist&family=Geist+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  img[src$=".mp4"] {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }

  img[src$=".mp4"]:hover {
    animation-play-state: running;
    -webkit-animation-play-state: running;
  }
}

:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

pre,
code {
  font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", serif;
}
