@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-bebas: "Bebas Neue" . serif;
}

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

pre,
code {
  font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", serif;
  letter-spacing: 0.055em;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes starAnimation {
  0% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.3) rotate(360deg);
    opacity: 0;
  }
}
